div .foot-cont{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    
    
}
.foot-box{
    width: 25%;
    
}
.footer-heading{
    padding-bottom: 20px;
}

.foot-bottom{
    background-color: black;
    color: white;
}
#box1{
    border-right: dotted;

}
i{
    margin-right: 10px;
}

.foot-box img{
    width: 60%;
}
.foot-box ul{
    list-style: none;
    text-align: left;
}

.foot-box a{
    color: white;
    text-decoration: none;
}