@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

.home-page-back{
    width: 100%;
    height: 130vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.home-page-top{
    width: 90vw;
    height: 30vh;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 60vh;
    left: 5vw;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1.5rem;
    z-index: 999;
    color: #fff;
    box-sizing: border-box;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    font-family: 'Mulish', sans-serif;
}
.home-page-top-head{
    font-size: 4.5rem;
    font-weight: 500;
}