.navbar-stick{
    height: 10vh;
    border-bottom: 2px solid #25ae88;
    background: rgba(0, 0, 0, 0.5);
}
.acad-logo{
    height: 3rem;
    position: absolute;
    top: 10px;
    left: 10px;
}
.nav-items{
    font-size: 1rem;
    font-weight: 500;
    color: white;
   
}
